#block-containt{
	display: flex;
	flex-direction : column;
	flex-wrap : wrap;
	max-width : 80%;
	font-size: 1em;
	
	margin : 0 auto;
	
}

.block{
	/* width: 50%; */
	
	text-align: center;
	background : #ccc;
	margin : 5px;
}

body{
	padding : 20px;
}
*{
	box-sizing : border-box;
}
