#slider3d{
	width: 100%;
	height : 400px;
	margin : 100px 0;
	padding : 100px 0;
	background: rgba(255,0,150,0.5);
	

}
#slider3d .containe{
	width 				: 500px;
	height 				: 200px;
	border 				: 1px solid #ccc;
	margin 				:0 auto;
	position 			: relative;
	-webkit-perspective : 1000px;	
	-moz-perspective 	: 1000px;
	-ms-perspective 	: 1000px;
	perspective 		: 1000px;
}

#carousel3d{
	width 						: 100%;
	height 						: 100%;
	position 					: absolute;
	
	-webkit-transform-style 	: preserve-3d;
	-moz-transform-style 		: preserve-3d;
	-ms-transform-style 		: preserve-3d;
	transform-style 			: preserve-3d;
	 transition 				: transform 1s;


}

#slider3d figure{
	display  : block;
	width 	 : 500px;
	height 	 : 200px;
	margin 	 : 	0;
	position : absolute;
}

#slider3d figure img{
	width   : 100%;
	height  : 100%;
	opacity : 0.5;
	
}

#slider3d figure figcaption{
	position 	: absolute;
	bottom   	: 0;
	left 	 	: 0;
	color 	 	: rgb(255,255,255);
	background  : rgba(0,0,0,0.5);
	width 		: 100%;
}

#slider3d figure figcaption p{
	text-align: center;
}

/*  #slider3d figure:nth-child(1){
	transform :  rotateY(60deg) translateZ(320px);
}
#slider3d figure:nth-child(2){
	transform :  rotateY(120deg) translateZ(320px) ;
}

#slider3d figure:nth-child(3){
	transform : rotateY(180deg) translateZ(320px) ;
	
}
#slider3d figure:nth-child(4){
	transform : rotateY(240deg) translateZ(320px);
} 
#slider3d figure:nth-child(5){
	transform : rotateY(300deg) translateZ(320px);
} 
#slider3d figure:nth-child(6){
	transform : rotateY(360deg) translateZ(320px);
} 
*/
.next3d, .prev3d {
  color: #444;
  position: absolute;
  top: 200px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next3d:hover, .prev3d:hover { color: #000; }
.next3d:active, .prev3d:active {
 
  box-shadow: 0 1px 0 #999;
}
.next3d { right: 5em; }
.prev3d { left: 5em; }

