.container-fluid{
	padding: 0;
	display: flex;
	flex-direction : column;
	justify-content : space-between;
}
.container{
	min-height: 700px;
}

.titre-principal{
	font-size: large;
}
.titre-secondaire{
	font-size: 2vw;
}
.titre{
	font-size: 1.5vw
}
p{
	font-size: 1vw;
}
.image-accueil .img{
	width: 80%;
	height : 400px;
	border : 1px solid #ccc;
	margin  : 3rem auto;
	text-align: center;
	line-height: 400px;
}

.container-content{
	margin : 3rem auto;
	display : flex;
	justify-content : space-between;
}

.aside{
	width : 25%;
}

.content{
	width : 70%;
}

.video-danses{
	width : 80%;
	height : 300px;
	border : 1px solid #ccc;
	text-align: center;
	line-height: 300px;
	margin : 1rem auto;
}

.danses{
	display : none;
}
.miniature-video{
	display : flex;
	justify-content : center;
}

.miniature{
	width : 100px;
	height : 100px;
	border : 1px solid #ccc;
	text-align: center;
	line-height: 100px;
}

.video-grand{
	width : 80%;
	height : 400px;
	border : 1px solid #ccc;
	text-align: center;
	line-height: 400px;
	margin : 1rem auto;
	display : none;
}

