/* body{
	position : relative;
	margin : 0;
	height : 100vh;

}
.miniature{
	width: 200px;
	padding : 20px;
}
.miniature img{
	width : 100%;
	height: auto;
}
.miniature:hover{
	cursor : pointer;
}

.img-normal{
	 display : none;  
	position : absolute;
	top : 0;
	left : 0;
	width : 100vw;
	height : 100vh;
	background: rgba(0,0,0,0.9);
	text-align: center;
}

.img-normal img{
	margin : calc( 50vh - 400px / 2) auto;
	border : 10px solid #fff;
	border-radius : 5px;
}

.croix{
	position: absolute;
	top: 10%;
	right: 30%;
	color : #fff;
	font-size: x-large;
}

.croix:hover{
	text-decoration: none;
	color : #fff;
} */

nav{
	width : 15%;
	margin : 50px auto;
	background : #ccc;
}

.sous-menu{
	display : none;
}